{% extends 'base.html' %}
{% load static %}
<!-- index.html -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    
{% block body %}
<div id="login-section" class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card tn-primary">
                <div class="card-header custom-gray-bg text-white">
                    <h2 class="text-center">Inicio de Sesión</h2>
                </div>
                <div class="card-body text-white">
                    <form id="login-form" method="post" action="{% url 'config' %}">
                        {% csrf_token %}
                        <!-- Entrada de Nombre de Usuario -->
                        <div class="form-group">
                            <label for="username">Nombre de Usuario:</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su nombre de usuario">
                        </div>
                        <!-- Selección de Tamaño de Fuente -->
                        <div class="form-group">
                            <label for="font-size">Tamaño de Fuente:</label>
                            <select class="form-control" id="font-size" name="font_size">
                                <option value="standard">Estándar</option>
                                <option value="large">Grande</option>
                                <option value="small">Pequeña</option>
                            </select>
                        </div>
                        <!-- Menú Desplegable de Familia de Fuentes -->
                        <div class="form-group">
                            <label for="font-family">Familia de Fuentes:</label>
                            <select class="form-control" id="font-family" name="font_family">
                                <option value="Roboto" style="font-family: Roboto;">Roboto</option>
                                <option value="Arial" style="font-family: Arial;">Arial</option>
                                <option value="Times New Roman" style="font-family: 'Times New Roman';">Times New Roman</option>
                                <option value="Verdana" style="font-family: Verdana;">Verdana</option>
                                <option value="Helvetica" style="font-family: Helvetica;">Helvetica</option>
                                <option value="Courier New" style="font-family: 'Courier New';">Courier New</option>
                                <option value="C4 Type" style="font-family: 'C4 Type';">C4 Type</option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn custom-gray-bg text-white mt-3 mb-3">Iniciar Sesión</button>
                        </div>
                    </form>

                    <form id="set-session-form" method="POST" action="{% url 'set_session' %}">
                        {% csrf_token %}
                        <label for="auth_link">Enlace de autenticación:</label>
                        <input type="text" id="auth_link" name="auth_link">
                        <button type="submit" class="btn custom-gray-bg text-white">Establecer sesión</button>
                    </form>

                    <div class="text-center">
                        <a id="generate-auth-link" href="{% url 'auth_link' %}" class="btn custom-gray-bg text-white mt-3">Generar enlace de autenticación</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
